body{
    background: #fff;
    margin: 10px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#clock{
    color: white;
    background-image: linear-gradient(to right, #03a9f4, #ff05d5);
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px;
    width: 200px;
    height: 90px;
    font-size: 90px;
    font-weight: 60px;
    
}