body{
    background: black;
    margin: 10px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

h2{
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

#clock{
    background-image: linear-gradient(to right, #03a9f4, #ff05d5);
    padding-right: 100px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: 90px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-anchor: center;
    font-size: 70px;
    font-weight: 60px;
    position: relative;
    animation: 1000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% { 
  	top: 90px; 
  }
  100% { 
  	top: 75px;
  }
}

@media only screen and (min-width: 600px){
    body{
        height: auto;
        width: auto;
    }
    #clock{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #clock div{
      border: 1px solid red;
  }
}

@media only screen and (min-width: 1100px){
    
}

@media only screen and (min-width: 1300px){  
    #clock{      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}

    #clock:before{
        content:'';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(to right, #03dff3, #ff05d5);
        box-shadow: -25px 15px 70px #03dff3, 25px -15px 70px #ff05d5;
        animation: movement 4s ease infinite; 
}

@keyframes movement {
    50%{
        background-image: linear-gradient(1360deg, #03dff3, #ff05d5);
        box-shadow: -25px 15px 140px #03dff3, 25px -15px 140px #ff05d5;
    }
    
}

#clock:after{
    content: ''; 
    position: absolute;
    width: 98%;
    height: 94%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:3%;
    background-color: black; /*body achtergrond*/
    z-index: -1;
}
    
}